{% extends 'layout.html'%}

{% block title%} user_detail {% endblock%}
{% block content%}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<div  class = "row" >
<div  class = "col-md-6 col-md-offset-3" >
{% if session ['name']%}
   <div class="container">
     <b> Welcome  {{session ['name']}}</b>
   </div>
{% else%}
Not login
{% endif%}
</div ></div ></div >
<div class="container">
    <h1 class="form-heading"><center> <font color="#c53211">Movie Recommendation System </font></center></h1>
    <!--<center>  <img src="static/banner.jpg" height="150px" width="100%"></center>-->
    <br>
<a href="{{ url_for('detail') }} "> <button type="btn" class="btn btn-primary" >USER DETAIL </button></a>
    <a href="{{ url_for('movie') }}">  <button type="btn" class="btn btn-primary" >PESONAL INTEREST</button></a>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation</title>
</head>
<body background="static/back.jpg">
<h2> <center> <font color="white">movie recommended </font></h2>
<table>


<!--<h1>{{m}}</h1>-->
 <center><tr>
    <td> {{m | safe}} </td>
 </tr> </center>


<!--{% for user in m %}-->
    <!--<tr>-->
       <!--<td style='text-align:center;vertical-align:middle'>  {{user[0]}}</td>-->
        <!--<td style='text-align:center;vertical-align:middle'>  {{user[1]}}</td>-->
        <!--<td style='text-align:center;vertical-align:middle'>  {{user[2]}}</td>-->
    <!--</tr>-->
<!--{% endfor %}-->
    </table>
</center>
{% endblock %}
</body>
</html>